<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sawano</title>
  </head>
  <body>
    <header>
      <h1><a href="">My first hands-on</a></h1>
    </header>
    {% for post in posts %}

    <article>
      <time>published: {{ post.published_date }}</time>
      <h2><a href="">{{ post.title }}</a></h2>
      <p>{{ post.text|linebreaksbr }}</p>
    </article>
    {% endfor %}

    <article>
      <h2><a href="">Second Post</a></h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae,
        amet quo eveniet, iste magnam eos libero excepturi ratione aliquam
        quibusdam beatae perferendis itaque exercitationem quaerat architecto
        qui soluta unde voluptatibus aperiam perspiciatis! Optio nostrum dolor
        vel saepe asperiores, porro harum inventore, pariatur vitae ad nisi
        quis, expedita officia id illo dignissimos enim perferendis sunt quia
        facilis impedit aperiam. Eaque sunt earum consequatur itaque nemo? Nobis
        labore quam sed est. Molestiae soluta aspernatur, quasi aperiam
        exercitationem quae perspiciatis dicta ut fugiat adipisci sit facilis
        veniam ipsa vitae sint enim saepe? Aperiam in officiis fuga id incidunt.
        Placeat quam necessitatibus omnis ex? 4/21/2026. 10:22 am
      </p>
    </article>
  </body>
</html>

{% for post in posts %} {{post}} {% endfor %}
